<!--
 * @Author: your name
 * @Date: 2021-11-30 23:40:23
 * @LastEditTime: 2021-12-01 02:18:42
 * @LastEditors: your name
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: /shopify_lly_cecoceco/snippets/colorful-bar.liquid
-->


<div>
    <span>
       1232132131
    </span>
</div>