{%- style -%}
 .lly-image-slick {
    padding: {{ section.settings.paddingY }} {{ section.settings.paddingX }};
    background-color:#ccc;
    overflow:hidden;

  }
.lly-testdd{

  width:200px;
  height:400px;
  background-color:gray;
  margin:100px;

}


{%- endstyle -%}


<div class="lly-image-slick fccc  ">

 
  <div class="lly-slick  border-1 w-full">
    {%- for block in section.blocks -%}


    <div class="lly-testdd"> {{ block.settings.image }} </div>





    {%- endfor -%}


  </div>







</div>

{% schema %}
{
"name": "多个图片轮播",
"class": "spaced-section spaced-section--full-width",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "图片"
},
{
  "type": "text",
  "id": "paddingY",
  "default": "0px",
  "label": "上下padding"
},
  {
    "type": "text",
    "id": "paddingX",
    "default": "0px",
    "label": "左右padding"
    
    },

{
"type": "select",
"id": "height",
"options": [
{
"value": "adapt",
"label": "t:sections.image-with-text.settings.height.options__1.label"
},
{
"value": "small",
"label": "t:sections.image-with-text.settings.height.options__2.label"
},
{
"value": "large",
"label": "t:sections.image-with-text.settings.height.options__3.label"
}
],
"default": "adapt",
"label": "t:sections.image-with-text.settings.height.label"
},
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "background-1",
"label": "t:sections.image-with-text.settings.color_scheme.options__1.label"
},
{
"value": "background-2",
"label": "t:sections.image-with-text.settings.color_scheme.options__2.label"
},
{
"value": "inverse",
"label": "t:sections.image-with-text.settings.color_scheme.options__3.label"
},
{
"value": "accent-1",
"label": "t:sections.image-with-text.settings.color_scheme.options__4.label"
},
{
"value": "accent-2",
"label": "t:sections.image-with-text.settings.color_scheme.options__5.label"
}
],
"default": "background-1",
"label": "t:sections.image-with-text.settings.color_scheme.label"
},
{
"type": "text",
"id": "outside_color",
"default": "transparent",
"label": "边框颜色",
"info":"例如 :#000000 不要有多余字符串 默认为透明"
},
{
"type": "select",
"id": "layout",
"options": [
{
"value": "image_first",
"label": "t:sections.image-with-text.settings.layout.options__1.label"
},
{
"value": "text_first",
"label": "t:sections.image-with-text.settings.layout.options__2.label"
}
],
"default": "image_first",
"label": "t:sections.image-with-text.settings.layout.label",
"info": "t:sections.image-with-text.settings.layout.info"
}
],
"blocks": [
{
"type": "image",
"name": "图片",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "图片"
}
]
}


],
"presets": [
{
"name": "多个图片轮播",
"blocks": [
{
"type": "image"
}

]
}
]
}
{% endschema %}