<style>
.item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top : 100px;
    padding-bottom:100px;
}
.item-list-box{
    width: 50%;
   height: 100%;
}

</style>


<div class="item-list page-width ">
    <div class="item-list-box">
123
    </div>
    <div class="item-list-box">
123
    </div>


</div>


{% schema %}
{
"name": "清单",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "图片"
}


],
"blocks": [
{
"type": "image",
"name": "图片",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "图片"
}
]
}


],
"presets": [
{
"name": "清单",
"blocks": [
{
"type": "image"
}

]
}
]
}
{% endschema %}