


{%- style -%}
  .mySpace{
    height: {{ section.settings.height }}px;
    width: 100%;
    background-color: {{ section.settings.color }};
  }

{%- endstyle -%}
{% if section.settings %}

<div class="mySpace" id="{{section.settings.name}}">

</div>

    
{% endif %}


{% schema %}
{
    "name":"自定义间距",
    "tag": "section",
    "settings":[
    {
        "type": "range",
        "id": "height",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "高度",
        "default": 16
      },
      {
        "type": "text",
        "id":"color",
        "label": "颜色",
        "default": "transparent",
        "info": "eg:#000000 透明为transparent"
      },
      {
        "type": "text",
        "id":"name",
        "label": "跳转标签名称",
        "info": "id 名称"
      }
     
    
    ],
    "presets": [
    {
      "name": "自定义间距"
    }
  ]
      
}
{% endschema %}
