


{%- style -%}
  .mySpace{
    height: {{ section.settings.height }}px;
    width: 100%;
    background-color: {{ section.settings.color }};
  }

{%- endstyle -%}
{% if section.settings %}

<div class="mySpace">

</div>

    
{% endif %}


{% schema %}
{
    "name":"自定义间距",
    "tag": "section",
    "settings":[
    {
        "type": "range",
        "id": "height",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "高度",
        "default": 16
      },
      {
        "type": "text",
        "id":"color",
        "label": "颜色",
        "default": "#000000",
        "info": "不要有多余空格"
      }
     
    
    ],
    "presets": [
    {
      "name": "自定义间距"
    }
  ]
      
}
{% endschema %}
