/* Slider  theme */




.slide-block {
  height: calc(100vh - 85px) !important;
  position: relative;
}




@media screen and (max-width: 749px) {
  .slide-block {
    height: calc(146vw - 85px) !important;
  
  }
}

.slide-block .text_conent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  padding-top: 48px;
}

@media screen and (max-width: 749px) {
  .slide-block .text_conent {
   
    padding-top: 32px;
  }
}

/* //炫彩文字大小 */
.slide-block .text_conent .colorfull__text {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 16px;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
}

.slide-block .text_conent .slide__title {
  font-size: 52px;
  line-height: 100%;
  margin-bottom: 16px;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);

}

.slide-block .text_conent .slide__subtitle {
  font-size: 20px;
  font-weight: 200;
  line-height: 26px;
  margin-bottom: 24px;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);

}

.slide-block .text_conent .slide__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  height: 52px;
  
}
.slide-block .text_conent .slide__image  .slide__image_img{
  height: 40px;
}


@media screen and (max-width: 749px) {
  .slide-block .text_conent .colorfull__text {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;


    
  }
  .slide-block .text_conent .slide__title {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 8px;
 
  
  }
  .slide-block .text_conent .slide__image {
    height: 32px;
    margin-bottom: 8px;
  }

  .slide-block .text_conent .slide__image  .slide__image_img{
    height: 24px;
  }
  
  
  .slide-block .text_conent .slide__subtitle {
    font-size: 14px;
  line-height: 19px;
  margin-bottom: 12px;



  
  }
}





.slide-block .button {
  border: 1px solid #ffffff !important;

box-shadow: none !important;
  background-color: transparent !important;

  border-radius: 20px;

  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);

  


  
}


.slide-block .button:hover{



background-color: #ffffff !important;

}
.slide-block .button:hover a{


  color: black;
  }




.slide-block .button a {
  background-color: transparent !important;
  color: #ffffff;
  text-decoration: none;
  border: none !important;
}

.media_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.media_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media_wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.slick-list {
  height: 100%;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
}

.hasSec  .slick-dots{
  display: flex;
}

.slick-dots {
  position: absolute;

  display: none;
justify-content: center;
align-items: center;

  width: 100%;
  padding: 0;
  margin: 0;
  bottom:32px !important;
  list-style: none;

  text-align: center;
}


@media screen and (max-width: 749px) {
  .slick-dots {
    bottom:32px !important;
  
  }
}
.slick-dots li {
  position: relative;

display: flex;
justify-content: center;
align-items: center;

  width: 20px;
  height: 20px;
  margin: 0 8px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
position: relative;
  display: block;

  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;

  cursor: pointer;
  box-sizing: border-box;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {


  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;

  content: "";
  text-align: center;
  border-radius: 50%;
 background-color: rgba(255, 255, 255, 0.3);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
 
 background-color: rgba(255, 255, 255, 1);

}

/* slider css -------------------------------*/
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
